body {
    display: flex;
    justify-content: center;
    background-color: #d1d1d1;
    font-family: Helvetica;
}

.calculatorBody {
    width: 500px;
    height: 700px; 
    background-color: #9199ff;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
}

.display {
    width: 450px;
    height: 100px;
    background-color: black;
    margin: 20px auto 0 auto;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 48px;
}

#buttonstyle {
    border: none; 
    background-color: white;
    border-radius: 100%;
    padding: 50px;
    margin: 5px;
}

.buttonbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
